# Gradle
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ/Android Studio
*.iml
.idea/
*.ipr
*.iws

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# 기타
*.log
*.tmp
*.temp
*.hprof
proguard/
navigation/
freeline.py
freeline/
freeline_project_description.json
fastlane/
vcs.xml
lint/